/* STYLE ZIRO */
*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input,textarea,button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
ul,li {
    list-style: none;
}
img {
    vertical-align: top;
}

html,
body {
    height: 100%;

    font-family: 'Tilda Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #eaeaea;
    background-color: #0D0D0D;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Help classes */
.gradient-text {
    background: linear-gradient(to left, #C2A97D 50%, #A67C46);
    background-clip: text;
    -webkit-background-clip: text;

    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/* 
    градиент бордер
    Задать оболочку с классом .gradient-block для нужного элемента. 
    Тощина настраивается паддингом 
*/
.gradient-block {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1px;
    background: linear-gradient(to left, #C2A97D 50%, #A67C46);
}
.gradient-block-item {
    width: 100%;
    height: 100%;
}

/* Заголовок блоков */
.section-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.text-mid {
    font-weight: 500;
}


/* Page */
.page {
    flex: 1 1 auto;
    padding-top: 100px;
}

.page__section {
    padding: 50px 0;
}


/* btn */
.btn {
    display: inline-block;
    padding: 10px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    border-radius: 25px;
    background: linear-gradient(to left, #C2A97D 50%, #A67C46);
}


/* Header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: #191919;
}
.header::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 2px;

    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.31%, rgba(255, 255, 255, 0) 100%);
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 25px;
}

.header__group {
    display: flex;
    align-items: center;
}

.header__gradient-block {
    border-radius: 5px;
}
.header__btn {
    padding: 4px 6px;
    border-radius: 5px;

    background: linear-gradient(transparent, transparent);
    background-color: #191919;
}


/* Burger */
.burger {
    position: relative;

    width: 24px;
    height: 20px;
    margin-left: 25px;

    font-size: 0;
    color: transparent;
}
.burger::after,
.burger::before {
    content: "";
}
.burger span,
.burger::after,
.burger::before {
    display: block;
    position: absolute;

    width: 100%;
    height: 1px;
    background-color: #eaeaea;
}

.burger span {
    top: 50%;
    transform: translateY(-50%);
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}


/* Список городов */
.towns-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.towns-list__item {
    font-weight: 500;
    font-size: 16px;
}
.towns-list__item::after {
    content: "/";
    margin: 0 5px;
}
.towns-list__item:last-child:after {
    display: none;
}


/* Intro */
.intro {
    position: relative;
    z-index: 1;
    background: linear-gradient(334.89deg, #1D1D1D 13.08%, #1D1D1D 102.58%);
    box-shadow: 0px 1px 31px rgba(255, 255, 255, 0.15);
}

.circ {
    display: block;
    position: absolute;
    bottom: 65px;
    right: -65px;
    z-index: 9;

    width: 100px;
    height: 100px;

    background-color: rgba(234, 234, 234, .1);
    border-radius: 50%;

}
.circ-16 {
    top: 16px;
    right: 16px;

    width: 16px;
    height: 16px;
}
.circ-22 {
    top: -6px;
    right: -6px;
    left: auto;

    width: 22px;
    height: 22px;
}
.circ-43 {
    left: -25px;
    bottom: 30px;
    right: auto;

    width: 46px;
    height: 46px;
}

.intro__container {
    max-width: 380px;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;
}

.intro__header {
    text-align: center;
    margin-bottom: 30px;
}

.intro__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.intro__video-wrapper {
    width: 100%;
    padding: 11px;
    margin-bottom: 50px;

    border: 1px solid rgba(234, 234, 234, .2);
    border-radius: 21px;
}

.intro__video {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.intro__video video {
    border-radius: 15px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro__sub-title {
    position: relative;
    z-index: 1;

    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    color: #eaeaea;
}
.intro__sub-title::before,
.intro__sub-title::after {
    content: "";
    position: absolute;
    left: 50%;
    z-index: 1;
    
    display: block;
    height: 1px;

    background-color: currentColor;
    transform: translateX(-50%);
}
.intro__sub-title::before {
    top: -12px;
    width: 113px;
}
.intro__sub-title::after {
    bottom: -12px;
    width: 68px;
}


/* progress */

.progress {
    position: relative;
    z-index: 0;
    padding: 50px 0 15px;

    background-image: url("../img/progress/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.progress::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .7);
}

.progress__decor {
    position: absolute;
    right: -60px;
    top: -30px;
    z-index: -1;
    opacity: .1;
}

.progress__inner {
    display: flex;
    flex-direction: column;
}

.progress__item {
    display: flex;
    margin-bottom: 15px;

    background: rgba(13, 13, 13, 0.5);
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.1);
}

.progress__item:last-child {
    margin-bottom: 0;
}

.progress__img {
    position: relative;
    z-index: 1;

    max-width: 40%;
    height: auto;
    margin-right: -8px;

    border-radius: 10px;
}

.progress__info {
    flex: 1;
    padding: 7px 20px 7px 30px;

    border: 1px solid #C2A97D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.progress__num {
    display: inline-block;
    margin-bottom: 6px;

    padding: 2px 8px;
    font-size: 11px;

    border: 1px solid #C2A97D;
    border-radius: 10px;
}

.progress__text {
    font-weight: 300;
    font-size: 14px;
    color: #eaeaea;
}


/* Work Photo */

.work-photo__slider {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.work-photo__info {
    padding: 0 20px;
    border: 1px solid #EAEAEA;
    border-radius: 25px;
}

.work-photo__list {
    position: relative;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    padding: 13px 20px;
    margin: -1px;

    border-radius: 25px;
    border: 1px solid #C2A97D;
}

.work-photo__item {
    flex: 0 1 50%;

    font-size: 14px;
    line-height: 1.3;
    font-weight: 300;
    color: #C2A97D;
    
    list-style: disc;
    /* list-style-position: inside; */
}
.work-photo__item span {
    color: #FFFFFF;
}
/* МишаВечер 30.01.2023 Низ */

/* Portfolio */
.portfolio {
    position: relative;
}

.portfolio__decor {
    position: absolute;
    top: 100px;
    right: -90px;
    opacity: .05;
}

.portfolio__decor--2 {
    bottom: 50px;
    top: auto;
    left: -90px;
}

.portfolio__title::after,
.portfolio__title::before {
    content: "";
    position: absolute;
    top: 60px;
    z-index: 1;
    display: block;
    height: 1px;
    width: 100px;

    background-color: #eaeaea;
}

.portfolio__title::after {
    right: -50px;
}

.portfolio__title::before {
    left: -70px;
}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 25px;
}

.portfolio__item {
    margin-bottom: 25px;

    border: 1px solid rgba(234, 234, 234, .4);
    background-color: rgba(0, 0, 0, .7);
    border-radius: 25px;
}

.portfolio__item:last-child {
    margin-bottom: 0;
}

.portfolio__top {
    position: relative;
}

.portfolio__img {
    width: 100%;
    max-width: 100%;
    height: auto;

    border-radius: 25px;
}

.portfolio__img-human {
    max-height: 160px;
    position: absolute;
    top: -15px;
    left: 0px;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

.portfolio__item:nth-child(even) .portfolio__img-human{
    left: auto;
    right: 0;
}

.portfolio__price {
    position: absolute;
    right: 15px;
    top: 2px;
    display: inline-block;
    padding: 5px 8px 5px 30px;

    border-radius: 30px;
    background: linear-gradient(to left, rgba(194, 169, 125, .6) 50%, rgba(166, 124, 70, .6));
}

.portfolio__item:nth-child(even) .portfolio__price {
    right: auto;
    left: 15px;
}

.portfolio__price-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.portfolio__info {
    display: flex;
    padding: 18px;
    font-weight: 300;
}
.portfolio__info-left {
    position: relative;
    margin-right: 12px;
    padding-right: 12px;
}
.portfolio__info-left::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 87px;

    background-image: url('../img/portfolio/border.svg');
    transform: translateY(-50%);
}
.portfolio__style .text-mid,
.portfolio__client .text-mid{
    text-transform: uppercase;
}
.portfolio__color {
    margin-bottom: 7px;
    font-size: 14px;
    text-transform: uppercase;
}
.portfolio__style {
    margin-bottom: 7px;
    font-size: 12px;
}
.portfolio__client {
    font-size: 12px;
}
.portfolio__info-right {
    font-size: 13px;
    font-weight: 300;
}
.portfolio__btn {
    display: block;
    padding: 15px;
}


/* catalog */
.catalog {
    padding: 30px 0;

    box-shadow: 0px 0px 55px rgba(255, 255, 255, 0.1);
}

.catalog--shadow-none {
    box-shadow: none;
}

.catalog__title {
    display: flex;
    justify-content: center;
}

.catalog__title > span {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
}

.catalog__title > span:last-child {
    padding: 0;
    margin-right: 0;
}

.catalog__title > span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 1px;
    height: 20px;

    background-color: rgba(234, 234, 234, .6);
    transform: translateY(-50%);
}

.catalog__title > span:last-child::after {
    display: none;
}

.catalog__inner {
    margin-bottom: 30px;
}

.catalog__filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0 auto 20px;
}

.catalog__filter-btn {
    padding: 8px 20px;
    margin: 5px;

    font-size: 12px;
    color: #C2A97D;

    background: transparent;
    border: 1px solid #C2A97D;
}
.catalog__filter-btn.active {
    background: linear-gradient(to left, #C2A97D 50%, #A67C46);
    color: #fff;
}

.catalog__cards {
    display: flex;
    flex-direction: column;
}

.catalog__card {
    overflow: hidden;
    margin-bottom: 20px;

    border: 1px solid rgba(234, 234, 234, .4);
    border-radius: 25px 25px 10px 10px;
}

.catalog__card:last-child {
    margin-bottom: 0;
}

.catalog__image {
    position: relative;
    overflow: hidden;

    border-radius: 25px;
}

.catalog__image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 70.77%, #101010 100%);
}

.catalog__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 13px 20px;

    font-weight: 300;
}

.catalog__group {
}

.catalog__name {
    margin-bottom: 2px;
}

.catalog__style {
    margin-bottom: 10px;
    font-size: 13px;
}

.catalog__price {
    font-weight: 500;
}

.catalog__sub-price {
    display: block;
    font-size: 13px;
    font-weight: 300;
}

.catalog__card-btn {
    padding: 6px 18px;
    border-radius: 10px;
}

.catalog__btn {
    display: block;
    padding: 15px;
}


/* addit-parts */
.addit-parts {
}

.addit-parts__title {
}

.addit-parts__inner {
    display: flex;
}

.addit-parts__tabs {
    max-width: 125px;
    padding: 18px;
    margin-right: 20px;

    background: #0D0D0D;
    box-shadow: 0px 0px 55px rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

.addit-parts__tab {
    display: block;
    margin-bottom: 12px;

    text-align: left;
    font-weight: 300;
    color: rgba(234, 234, 234, .9);
}

.addit-parts__tab:last-child {
    margin-bottom: 0;
}

.addit-parts__tab.active {
    font-weight: 500;
    color: #C2A97D;
}

.addit-parts__list {
    padding: 18px;
    max-width: 185px;
    max-height: 280px;
    overflow-y: scroll;

    border: 1px solid rgba(234, 234, 234, .4);
    background-color: rgba(13, 13, 13, 0.5);
    border-radius: 25px;
}

.addit-parts__item {
    margin-bottom: 8px;
}

.addit-parts__item:last-child {
    margin-bottom: 0;
}

.addit-parts__link {
    font-weight: 300;
    color: rgba(234, 234, 234, .9);
}


/* Benefits */
.benefits__card {
    overflow: hidden;
    margin-bottom: 25px;

    border: 1px solid rgba(234, 234, 234, .4);
    border-radius: 25px 25px 10px 10px;
}

.benefits__card:last-child {
    margin-bottom: 0;
}

.benefits__card-title {
    margin-bottom: 23px;

    font-size: 18px;
    font-weight: 700;
}

.benefits__image {
    position: relative;
}

.benefits__image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 70.77%, #101010 100%);
}

.benefits__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.benefits__info {
    padding: 15px 20px;
}

.benefits__item {
    display: flex;
    margin-bottom: 15px;
}

.benefits__item:last-child {
    margin-bottom: 0;
}

.benefits__item-img {
    border-radius: 10px;
}

.benefits__text {
    margin-left: 15px;
    font-weight: 300;
}


/* furniture  */
.furniture {
    padding: 35px 0;

    box-shadow: 0px 0px 55px rgba(255, 255, 255, 0.1);
}
.furniture__title {
    display: flex;
    justify-content: center;
}

.furniture__title > span {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
}

.furniture__title > span:last-child {
    padding: 0;
    margin-right: 0;
}

.furniture__title > span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 1px;
    height: 20px;

    background-color: rgba(234, 234, 234, .6);
    transform: translateY(-50%);
}

.furniture__title > span:last-child::after {
    display: none;
}

.furniture__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.furniture__column {
    width: 50%;
    padding: 10px;
}

.furniture__item {
    background-color: #141414;
    border-radius: 15px;
}

.furniture__image {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(234, 234, 234, .4);
    border-radius: 15px;
}

.furniture__image-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    font-weight: 300;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.75), 0px 0px 14px rgba(0, 0, 0, 0.75), 0px 0px 14px rgba(0, 0, 0, 0.75);
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 70.77%, #101010 100%);
}
.furniture__image-text span {
    display: block;
    font-weight: 700;
}
.furniture__img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}
.furniture__info {
    text-align: center;
    padding: 10px 0;
}
.furniture__gradient-block {
    border-radius: 15px;
}

.furniture__btn {
    display: block;

    border-radius: 15px;
    background: linear-gradient(transparent, transparent);
    background: #141414;
}


/* promotion */
.promotion {
}

.promotion__container {
    max-width: 310px;
}
.promotion__title {
}

.promotion__inner {
    display: flex;
    justify-content: center;
}

.promotion__item {
    border-radius: 25px;
    border: 1px solid rgba(234, 234, 234, .4)
}

.promotion__image {
    overflow: hidden;
    border-radius: 25px;
}

.promotion__img {
}

.promotion__info {
    padding: 15px 30px;
}

.promotion__name {
    font-weight: 500;
    margin-bottom: 5px;
}

.promotion__text {
    font-weight: 300;
    font-size: 12px;
}


/* pros */
.pros__header {
    padding: 12px 31px;
    margin-bottom: 20px;

    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;

    color: #EAEAEA;

    border: 1px solid #C2A97D;
    border-radius: 25px;
}

.pros__item{
    width: 100%;
    display: flex;
    margin-bottom: 16px;

    background: rgba(13, 13, 13, 0.5);
    border: 0.5px solid #EAEAEA;
    border-radius: 10px;
}

.pros__item:last-child {
    margin-bottom: 0;
}

.pros__item:nth-child(odd) {
    flex-direction: row-reverse;
}

.pros__headline {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
}

.pros__content{
    width: 60%;
    padding: 15px;
}
.pros__text {
    font-weight: 300;
}
.pros__img{
    display: block;
    width: 40%;

    border-radius: 10px;
}


/* reviews */
.reviews__text {
    text-align: center;
    position: relative;

    font-weight: 300;
    font-size: 14px;

    line-height: 1.3;
    color: #EAEAEA;
    opacity: .75;
}

.reviews__text::before {
    display: block;
    content: "";
    width: 230px;
    height: 201px;

    position: absolute;
    top: 30%;
    left: 50%;

    transform: translate(-50%,-30%);

    background-color: #EAEAEA;

    opacity: .03;
}

.reviews__text::after {
    display: block;
    content: "";

    margin: 15px auto;

    width: 62px;
    border: 1px solid;
    
}
.reviews__box {
    text-align: center;
}
.reviews__client{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews__img {
    opacity: .4;
    margin-right: 10px;
}

.reviews__date {
    font-weight: 300;
    font-size: 10px;
    line-height: 124%;

    color: rgba(234, 234, 234, .65);
}


/* vid-reviews */
.vid-reviews__content {
    display: flex;
    flex-wrap: wrap;
}


.vid-reviews__item {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
}


/* Adress */
.address {
    margin-bottom: 50px;
}
.address__item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.address__img {
    position: relative;
    z-index: 1;

    display: block;
    max-width: 40%;
    height: auto;
    margin-right: -20px;

    border-radius: 25px;
}

.address__content {
    flex: 1;
    padding: 11px 20px 11px 40px;

    border: 1px solid rgba(234, 234, 234, .3);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.address__town {
    font-weight: 800;
}
.address__subtitle {
    font-weight: 500;
    font-size: 12px;

    color: #EAEAEA;

    margin-bottom: 5px;
}

.address__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.15;

    color: #EAEAEA;
}

/* СлавикВечер 30.01.2023 Низ */

/*  */
.push-contact {
    margin-bottom: 50px;
}

.push-contact__inner {
    padding: 24px;

    background-color: #fff;
    border-radius: 35px;
}

.push-contact__header {
    margin-bottom: 20px;

    text-align: center;
    color: #101010;
}

.push-contact__title {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.push-contact__sub-title {
    font-weight: 400;
    font-size: 14px;
}

.push-contact__form {
    display: flex;
    flex-direction: column;
}

.push-contact__input {
    width: 100%;
    padding: 7px 24px;
    margin-bottom: 12px;

    color: #C2A97D;

    border: 1px solid rgba(16, 16, 16, .3);
    border-radius: 20px;

    transition: border linear .2s;
}

.push-contact__inner::placeholder {
    color: rgba(16, 16, 16, .6);
}

.push-contact__input:focus {
    outline: none;
    border-color: #C2A97D;
}

.push-contact__input--arrow {
    appearance: none;
    background-image: url('../img/arrow-select.svg');
    background-repeat: no-repeat;
    background-position: center right 15px;
}

.push-contact__gradient-block {
    border-radius: 20px;
}

.push-contact__btn {
    background: linear-gradient(transparent, transparent);
    border-radius: 20px;
    background-color: #fff;
}


/* Footer */
.footer {
}

.footer__inner {
    padding-bottom: 30px;
}

.copyright {
    max-width: 230px;
    margin-bottom: 20px;

    font-size: 10px;
    font-weight: 300;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 46px;
}

.socials {
    display: flex;
}

.socials__item {
}

.socials__link {
}

.footer__group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__contact-link {
    font-weight: 300;
    line-height: 1.5;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.footer__col {
    flex: 0 1 33.33333%;
    padding: 0 10px;
    margin-bottom: 30px;
}
.footer__title {
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: uppercase;
}

.footer__list {
}

.footer__item {
}

.footer__link {
    font-size: 10px;
}